{% extends '_layout.html' %}

{% block title %}PC Building App{% endblock %}

{% block body %}
<!-- <h1>FAQs</h1>
<br>
<p><bold>How do I choose the right PC according to my needs?</bold></p>
<ul><li>Some factors to consider when choosing or building your PC are budget, 
    intended use, specifications, and more.</li></ul>

<p><bold>How do I best protect my PC from viruses and malware?</bold></p>
<ul><li>Avoid suspicious links, make sure all software is up to date, and you can even install antivirus software.</li></ul>

<p><bold>How can I maintain my PC to ensure optimal performance?</bold></p>
<ul><li>Regular maintenance is crucial to ensuring a long lifespan of a PC. Something as simple as cleaning the hardware components
    to combat dust and dirt build up can go a long way. In addition, ensuring proper ventialation, updating the software frequently,
    and running antivirus scans will help greatly.
</li></ul> -->

<!--Section: FAQ-->
<section>
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> How do I choose the right PC according to my needs?</h6>
        <p>
            Some factors to consider when choosing or 
            your PC are budget, 
            intended use, specifications, and more.
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> 
            How do I best protect my PC 
            from viruses and malware?</h6>
        <p>
            Avoid suspicious links, make sure all 
            software is up to date, and you can 
            even install antivirus software.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> 
            How can I maintain my PC to ensure optimal performance?
        </h6>
        <p>
            Regular maintenance is crucial to ensuring a long lifespan of a PC. Something as simple as cleaning the hardware components
            to combat dust and dirt build up can go a long way. In addition, ensuring proper ventialation, updating the software frequently,
            and running antivirus scans will help greatly.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> 
            Are prebuilt computers suitable for gaming?
        </h6>
        <p>
          <strong><bold>Yes!</bold></strong>Many are built specifically for gaming. 
          Some things to look for are computers with powerful CPUs
          and a lot of RAM.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> 
            Can I upgrade a pre-built computer?
        </h6>
        <p><strong><u>Yes!</u>.</strong> 
        Just because it is pre-built does not mean you can not upgrade it.
        You can upgrade the individual components such as CPU and RAM
        just like you would on any other computer.</p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> 
        Whare are some of the advantages of buying a pre-build computer?</h6>
        <p>
          <ul><li>Convenience</li>
              <li>Savings</li>
              <li>Warranty</li></ul>
        </p>
      </div>
    </div>
  </section>
  <!--Section: FAQ-->


{% endblock %}