{% extends '_layout.html' %}

{% block title %}PC Building App{% endblock %}

{% block body %}
<section>
    <div style = "text-align: center; padding: 50px"
    <body style = "display: flex; justify-content: center;">
    <h1 style="color: #333; font-size: 48px; text-shadow: 2px 2px 4px #aaa;">Welcome to <span style="color: #FF4500;">Parts Complier</span>!</h1>
    </div>
    </body>
</section>

<div class="card" style="width: 80%;">
    <img src="images\buildingPCImage.png" alt="buildingPCImage">
    <div class="card-body">
      <h5 class="card-title">Start Building</h5>
      <p class="card-text">CLicking here will take you the build page in the future.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <br>

  <div class="card" style="width: 80%;">
    <img src="images\prebuilt.webp" alt="PreBuilt PC">
    <div class="card-body">
      <h5 class="card-title">Browse Pre-Builds</h5>
      <p class="card-text">Clicking here will take you to examples of pre-builds in the future.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <br>

  <div class="card" style="width: 80%;">
    <img src="images\listings.jpg" alt="listings">
    <div class="card-body">
      <h5 class="card-title">Browse Listings</h5>
      <p class="card-text">Clicking here will take you to the page showing current listings in the future.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


{% endblock %}