{% extends '_layout.html' %}

{% block title %}PC Building App{% endblock %}

{% block body %}
<section>
    <div style = "text-align: center; padding: 50px"
    <body style = "display: flex; justify-content: center;">
    <h1 style="color: #333; font-size: 48px; text-shadow: 2px 2px 4px #aaa;">Welcome to <span style="color: #FF4500;">Parts Complier</span>!</h1>
    </div>
    </body>
</section>

<div class="row g-0">
  <div class="col-md-4">
    <img src="{{url_for('static', filename='static/buildingPCImage.png')}}" class="img-fluid rounded-start" alt="buildingPCImage">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">Start Building</h5>
      <p class="card-text">CLicking here will take you the build page in the future.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

  <br>

  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{url_for('static', filename='static/prebuilt.webp')}}" class="img-fluid rounded-start" alt="pre-built">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Browse Pre-Builds</h5>
        <p class="card-text">CLicking here will take you view pre-built PCs in the future.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <br>

  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{url_for('static', filename='static/listings.jpg')}}" class="img-fluid rounded-start" alt="listings">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Browse Listings</h5>
        <p class="card-text">Clicking here will take you to browse listings in the future.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>


{% endblock %}