{% extends '_layout.html' %}

{% block title %}PC Building App{% endblock %}

{% block body %}
<section>
    <div style = "text-align: center; padding: 50px"
    <body style = "display: flex; justify-content: center;">
    <h1 style="color: #333; font-size: 48px; text-shadow: 2px 2px 4px #aaa;">Welcome to <span style="color: #FF4500;">Parts Complier</span>!</h1>
    <img src = "images\gears.webp" alt = "gears" style = "width: 100%; max-width: 100px">
    </div>
    </body>
</section>

<section>
    <br>
    <br>
    <p>In the future, there will be user reviews here.</p>
</section>

{% endblock %}