{% extends '_layout.html' %}

{% block title %}PC Building App{% endblock %}
    
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Vertical Navigation -->
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="">Something</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Something</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Something</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Something</a>
                </li>
            </ul>
        </div>
        <!-- Cards Section -->
        <div class="col-md-9">
            <div class="row">
                {% for pc in data %}
                    <div class="col-md-4">
                        <div class="card mb-3" style="width: 18rem;">
                            <img src="{{ pc['image_url'] }}" class="card-img-top" alt="{{ pc['build_name'] }}" style="width: 18rem; height: 180px;">
                            <div class="card-body">
                                <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ pc['build_name'] }}</h5>
                                <p class="card-text">Price: $WIP</p>
                                <p class="card-text">
                                    {% if pc['build_rating'] != -1 %}
                                        Rating: {{ pc['build_rating'] }}
                                    {% else %}
                                        Rating: No Rating
                                    {% endif %}
                                </p>
                                <div class="d-flex justify-content-between mt-2">
                                    <div>
                                        <form action="/remove_save" method="POST">
                                            <input type="hidden" name="build_id" value="{{ pc['build_id'] }}">
                                            <button type="submit" class="btn btn-primary btn-lg" style="width: 120px;">Remove</button>
                                        </form>
                                    </div>
                                    <div>
                                        <form action="/view_action" method="GET">
                                            <input type="hidden" name="build_id" value="{{ pc['build_id'] }}">
                                            <a class="btn btn-secondary btn-lg" href="/singlePC/{{pc['build_id']}}" style="width: 120px;">View</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% if loop.index % 3 == 0 %}
                    </div><div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
