{% extends '_layout.html' %}

{% block title %}PC Building App{% endblock %}

{% block body %}
<div class="container">
<!-- Search Bar -->
  <form action="{{url_for('showStartBuild', content=content)}}" method="GET">
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
        <input type="text" class="form-control" name="q" id="q" placeholder="Search for part" aria-label="Search for part">
    </div>
  </form>
  <div class="row">
      <!-- Vertical Navigation -->
      <div class="col-md-3">
          <ul class="nav flex-column">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('showStartBuild', content='motherboard') }}">Motherboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('showStartBuild', content='cpu') }}">CPU</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('showStartBuild', content='storage') }}">Storage</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('showStartBuild', content='power') }}">Power Supply</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('showStartBuild', content='graphics') }}">Graphics/Video Card</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('showStartBuild', content='cooling') }}">Cooling</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('showStartBuild', content='memory') }}">Memory Card</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('showStartBuild', content='casing') }}">PC Casing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('showStartBuild', content='accessories') }}">Accessories</a>
              </li>
          </ul>
      </div>
      <!-- Cards Section -->
      <div class="col-md-9">
          <div class="row">
              {% for comp in data %}
                  <div class="col-md-4">
                      <div class="card mb-3" style="width: 18rem;">
                          <!--<img src="{{ comp['image_url'] }}" class="card-img-top" alt="{{ comp['part_name'] }}" style="width: 18rem; height: 180px;">-->
                          <div class="card-body">
                              <h5 class="card-title">{{ comp['part_name'] }}</h5>
                              <p class="card-text">Price: ${{ comp['price']}}</p>
                              <p class="card-text">Rating: {{ comp['rating'] }}</p>
                              <p class="card-text">Brand: {{ comp['brand'] }}</p>
                              <div class="d-flex justify-content-between mt-2">
                                  <div>
                                    <form action="/add_to_cart" method="POST">
                                        <input type="hidden" name="part_id" value="{{ comp['part_id'] }}">
                                        <button type="submit" class="btn btn-primary btn-lg" style="width: 120px;">Add</button>
                                    </form>
                                  </div>
                                  <div>
                                      <a class="btn btn-secondary btn-lg" href="/parts/{{comp['part_id']}}" style="width: 120px;">View</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              {% if loop.index % 3 == 0 %}
                  </div><div class="row">
              {% endif %}
              {% endfor %}
          </div>
      </div>
  </div>
</div>
{% endblock %}