{% extends '_layout.html' %}

{% block title %}PC Building App{% endblock %}

{% block body %}
<div class="container">
<!-- Search Bar -->
  <form action="{{url_for('showStartBuild', part_type=part_type)}}" method="GET">
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
        <input type="text" class="form-control" name="q" id="q" placeholder="Search for part" value="{%if query%}{{query}}{%endif%}" aria-label="Search for part">
        <div class="input-group-append">
            <select class="form-select" name="sh" id="sh" aria-label="Default select example">
                <option {%if search_by == 'component' %}selected{%endif%} value='component'>Search by component</option>
                <option {%if search_by == 'all' %}selected{%endif%} value='all'>Search by all </option>
            </select>
        </div>
        <div class="input-group-append">
            <select class="form-select" name="st" id="st" aria-label="Default select example">
                <option {%if sort_by == 'price' %}selected{%endif%}  value="price">Sort by price</option>
                <option {%if sort_by == 'rating' %}selected{%endif%}  value="rating">Sort by rating</option>
                <option {%if sort_by == 'nameAZ' %}selected{%endif%}  value="nameAZ">Sort by name (A-Z)</option>
                <option {%if sort_by == 'nameZA' %}selected{%endif%}  value="nameZA">Sort by name (Z-A)</option>
                <option {%if sort_by == 'brand' %}selected{%endif%}  value="brand">Sort by brand</option>
            </select>
        </div>
    </div>
  </form>
  <div class="row">
      <!-- Vertical Navigation -->
      <div class="col-md-3">
          <ul class="nav flex-column border">
              <li class="nav-item">
                  <a class="nav-link {%if part_type == 'motherboard'%}border fw-bold text-success{%endif%}" href="{{ url_for('showStartBuild', part_type='motherboard') }}">Motherboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {%if part_type == 'cpu'%}border fw-bold text-success{%endif%}" href="{{ url_for('showStartBuild', part_type='cpu') }}">CPU</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {%if part_type == 'storage'%}fw-bold text-success{%endif%}" href="{{ url_for('showStartBuild', part_type='storage') }}">Storage</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {%if part_type == 'power'%}fw-bold text-success{%endif%}" href="{{ url_for('showStartBuild', part_type='power') }}">Power Supply</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {%if part_type == 'graphics'%}fw-bold text-success{%endif%}" href="{{ url_for('showStartBuild', part_type='graphics') }}">Graphics/Video Card</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {%if part_type == 'cooling'%}fw-bold text-success{%endif%}" href="{{ url_for('showStartBuild', part_type='cooling') }}">Cooling</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {%if part_type == 'memory'%}fw-bold text-success{%endif%}" href="{{ url_for('showStartBuild', part_type='memory') }}">Memory Card</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {%if part_type == 'casing'%}fw-bold text-success{%endif%}" href="{{ url_for('showStartBuild', part_type='casing') }}">PC Casing</a>
              </li>
          </ul>
      </div>
      <!-- Cards Section -->
      <div class="col-md-9">
          <div class="row">
              {% for comp in data %}
                  <div class="col-md-4">
                      <div class="card mb-3" style="width: 18rem;">
                          <!--<img src="{{ comp['image_url'] }}" class="card-img-top" alt="{{ comp['part_name'] }}" style="width: 18rem; height: 180px;">-->
                          <div class="card-body">
                              <h5 class="card-title">{{ comp['part_name'] }}</h5>
                              <p class="card-text">Price: ${{ comp['price']}}</p>
                              <p class="card-text">Rating: {{ comp['rating'] }}</p>
                              <p class="card-text">Brand: {{ comp['brand'] }}</p>
                              <div class="d-flex justify-content-between mt-2">
                                  <div>
                                    <form action="/add_to_cart" method="POST">
                                        <input type="hidden" name="part_id" value="{{ comp['part_id'] }}">
                                        <button type="submit" class="btn btn-primary btn-lg" style="width: 120px;">Add</button>
                                    </form>
                                  </div>
                                  <div>
                                      <a class="btn btn-secondary btn-lg" href="/parts/{{comp['part_id']}}" style="width: 120px;">View</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              {% if loop.index % 3 == 0 %}
                  </div><div class="row">
              {% endif %}
              {% endfor %}
          </div>
      </div>
  </div>
</div>
{% endblock %}