{% extends '_layout.html' %}

{% block title %}PC Building App{% endblock %}

{% block body %}
<div class="container text-center">
<div class="row">
  <div class="col-sm-6" style="width: 18rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Motherboard</h5>
        <p class="card-text">Connects all internal components of your PC</p>
        <select class="form-select" aria-label="Default select example">
            <option selected>Select Motherboard</option>
            <option value="4">These will be filled in with Motherboards from out database</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="width: 18rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CPU</h5>
        <p class="card-text">Processes and executes instructions and calculations</p>
        <select class="form-select" aria-label="Default select example">
            <option selected>Select CPU</option>
            <option value="4">These will be filled in with CPUs from out database</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="width: 18rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Storage</h5>
        <p class="card-text">How many files that can be stored on your computer</p>
        <select class="form-select" aria-label="Default select example">
            <option selected>Select Storage</option>
            <option value="4">These will be filled in with motherboards from out database</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-6" style="width: 18rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Graphics card</h5>
            <p class="card-text">Video card which displays images on your monitor</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Graphics card</option>
                <option value="4">These will be filled in with Cards from out database</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6" style="width: 18rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cooling</h5>
            <p class="card-text">Cools the PC allowing for better performance</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Cooling options</option>
                <option value="4">These will be filled in with Cooling types from out database</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6" style="width: 18rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Memory Card</h5>
            <p class="card-text">RAM or temporary memory which the PC has very quick access to</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Memory Card</option>
                <option value="4">These will be filled in with Memory Cards from out database</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
</div>
</div>
<div class="row">
    <div class="col-sm-6" style="width: 18rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Casing</h5>
            <p class="card-text">Physical case that you put the components into</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Casing</option>
                <option value="4">These will be filled in with Casings from out database</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6" style="width: 18rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Power</h5>
            <p class="card-text">The power supply to the PC. Some components require certain amount of voltage!</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Power Supply</option>
                <option value="4">These will be filled in with Power Supply from out database</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <button type="button" class="btn btn-primary">Save build</button>
    </div>
</div>
{% endblock %}